<a href="https://colab.research.google.com/github/kolimitehseenraisabasri813/Python/blob/master/Day_9(30_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Markdown
## Markdown
### Markdown
##### Markdown

**Points**

*Points*

***Points***

 ***Adding links to Markdown***
[site](https://en.wikipedia.org/wiki/Jawaharlal_Nehru_Technological_University,_Anantapur)

### Inserting Image ###
![Text](https://www.jntua.ac.in/wp-content/uploads/2018/09/slider01.jpg)

In [1]:
print("hello world!")

hello world!

In [2]:
# Variable creation
 print("hello , jntua")

hello , jntua

In [4]:
print("hello, jntua","|||","chemical","|||","CSE","|||","MCA")

hello, jntua ||| chemical ||| CSE ||| MCA

# Assignment

In [0]:
n1 = 100 # single variable assignment
n1

In [10]:
n1 = 100 # single variable assignment
print(n1)
a = b = c = 10 # multi variable assignment of same value
print(a,b,c)
a1,b1,c1 = 100,200,300 # multiple variable assignment with different values
print(a1,b1,c1)

100
10 10 10
100 200 300

# Data types and conversions
* int
* float
* string

In [12]:
a = 100
s1 = 10.2
s2 = "python"
print(type(a),type(s1),type(s2))

<class 'int'> <class 'float'> <class 'str'>

In [13]:
i = 100 
print(type(i))
s1 = str(i)
print(type(s1))
f1 = float(i)
print(type(f1))

<class 'int'>
<class 'str'>
<class 'float'>

In [15]:
# length
a = 123456
print(len(str(a)))

6

# Reading input from user--input function

In [17]:
a = input("enter ur name")
print(a)
print(type(a))

enter ur nameRaisa
Raisa
<class 'str'>

In [18]:
b = int(input("enter ur age:"))
print(b)
print(type(b))

enter ur age:19
19
<class 'int'>

# Operators
- Operator is a symbol used to perform a specific kind of operations

# Arithmetic Operator
- +
- -
- *
- /
- %
- //
- **

In [25]:
a = 1234
print(a+10)
print(a-10)
print(a*10)
print(a/10)
print(a%10)
print(a//10)
print(a**10)

1244
1224
12340
123.4
4
123
8187505353567209228244052427776

# Relational Operators
- =
- ==
- !=
- <
 
- <=

In [26]:
x = 10
a1 = x > 15
print(a1)

False

# Logical Operators
- and
- or
- not

In [29]:
i = 100
a1 = (i>15) and (i<800)
a2 = (i>15) or (i>800)
i = not 100
print(a1)
print(a2)
print(i)

True
True
False

# Control Flow Statements
- Conditional statements
- Looping statements

# If-else Statement
## Syntax
# If Boolean_condition 
# statements
# else:
# statements

In [34]:
# To check given number is even or odd
n = int(input("enter a number"))
if n%2 == 0:
  print(n,"is even number")
else:
  print(n,"is odd number")

enter a number66
66 is even number

In [46]:
# To check given number is perfectly multiples of 3 and 5
n = int(input("enter a number"))
if n%3 == 0 and n%5 == 0:
  print(n,"is a multiple of 3 and 5")
else:
  print(n,"is not a multiple")

enter a number15
15 is a multiple of 3 and 5

In [56]:
# To check given number is positive ,negative 0r zero.
n = int(input("enter a number"))
if  n> 0 :
  print(n,"is a positive")
if  n< 0 :  
  print(n,"is negative") 
else:
  print(n, "is zero")

enter a number0
0 is zero

In [68]:
# To find largest number
 x = int(input("enter X"))
 y = int(input("enter Y"))
 z = int(input("enter Z"))
if (x>y and x>z):
  print(x,"is largest")
elif( y>x and y>z):
  print(y,"is largest")
else:
  print(z,"is largest")

enter X4
enter Y5
enter Z6
6 is largest

In [72]:
# to find leap year
n = int(input("enter a year"))
if n%4==0 and n%400 !=0 and n%100 ==0
 print(n,"is a leap year")
else:
  print(n,"is not a leap year")

SyntaxError: ignored