<a href="https://colab.research.google.com/github/kolimitehseenraisabasri813/Python/blob/master/Day_10_(31_01_2020).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loops
- While loop
- For loop

In [0]:
# Print numbers from 1 to n
# input 10
# output 1 2 3 4 ...10
n = int(input("enter a number:"))
i = 1
while i <=n:
  print(i,end = " ")
  i = i+1

enter a number:10
1 2 3 4 5 6 7 8 9 10

In [0]:
# print sum of even numbers
# input = 10
# output = (2+4+6+8+10)=30
n = int(input("enter a number:"))
i = 0
sum = 0
while i<=n:
      sum = sum+i
      i =i+2 
      print(sum)

enter a number:10
0
2
6
12
20
30

In [0]:
# Given number is palindrome
# input = 123
# output = 321
n = int(input("enter a number :"))
rem = 0
num = 0
while n>0:
  rem = n%10
  num = num*10+rem
  n = n//10
  print(num)

TypeError: ignored

# Functional Programming
- simple 
- easy to understand
- better reusability
- lengthy program will be divided into sub programs

In [0]:
def nameofthefunction(<parameter>):
    statements
    return

In [0]:
 # print sum of even number
    # input:1234
    # output:(2+4)=6
    def sumofevendigits(n):
        s = 0
        while n!= 0:
           r = n%10
           if r%2==0:
             s=s+r
           n =n //10
        return s 
sumofevendigits(1234)

6

In [0]:
 # Print largest number
 def large(n): 
    prev=0
    next=0
    while (n!=0):
      prev=next
      next=n%10
      if(prev>next):
        next=prev
      n=n//10
    return next
 large(12345)

5

# For Loop
# syntax
# for in range(start,stop,step):
statements

In [0]:
# syntax:
for in range(start,stop,step):
    statements

In [0]:
# Using function print the numbers between limits
# input :11 25
# output:11 12 13 14 .........24 25 
def printseries(fn,ln):
  for i in range(fn,ln+1):
    print(i,end=" ")
  return
printseries(11,25)

11 12 13 14 15 16 17 18 19 20 21 22 23 24 25

In [0]:
# input:500,520
# output:500,504,508......516,520
def printseries(fn,ln):
  for i in range(fn,ln+1,4):
    print(i,end=" ")
  return
printseries(500,520)

500 504 508 512 516 520

# Collection Types
- List
- Tuple
- Dictionary

# List:
- One of the data structure in python
- Data structure means to store,sort and search options
- Its one common data structure in python,the items of list separated by comma and enclosed by square brackets
-  In List we can change values 
- ex:
- List1=[1,2,3,4,5]
- List=["JNTUA","DASD","asds"]

In [124]:
li = [1,8,2,5,4]
print(li)
print(li[2])
print(li[-3])
print(li[2:])
print(li[2:4])
print(li[-3:-1])
print(li[::3])

[1, 8, 2, 5, 4]
2
2
[2, 5, 4]
[2, 5]
[2, 5]
[1, 5]

In [127]:
# Update List
li = ["JNTUA",8,"ANTP",5,4]
print(li)
li[1]="154"
print(li)
# delete list item
del li[1]
print(li)

['JNTUA', 8, 'ANTP', 5, 4]
['JNTUA', '154', 'ANTP', 5, 4]
['JNTUA', 'ANTP', 5, 4]

In [131]:
# Basic list operations
li = [1,2,3,4,5]
print(len(li))
print(li*2)
print(4 in li)
print(6 in li)

5
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
True
False

# List Functions
- Max 
- Min 
- Sum
- Append
- Insert
- Count
- Index
- Sort
- Pop

In [134]:
li = [1,2,3,4,5]
print(max(li))
print(min(li))
print(sum(li))

5
1

TypeError: ignored

In [174]:
l = [1,8,9,3,4,5,6]
#l.append(56)
#l.insert(2,56)
#l.count(5)
l.index(4)
#l.sort()
#l.pop(3)
print(l)

[1, 8, 9, 3, 4, 5, 6]

In [170]:
# Using function return large number from the list
def smallnumber(li):
  li.sort()
  return li[0]
def genericsmall(li,n):
  li.sort()
  return li[n]
li =[13,2,43,74,78,12,35]
print(smallnumber(li))
print(genericsmall(li,3))

2
35

# Tuples
- parenthesis() -->tuple and square